<input type="text" ng-model="search" class="search-query" placeholder="Search">
<div class="relais-state"><table>
    <thead>
    <tr>
        <th>Relais</th>
        <th>State</th>
        <th><a href="#/new"><i class="icon-plus-sign"></i></a></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="rel in relais | filter:search | orderBy:'pinName'" ng-show="rel.pinName">
        <td><a href="{{rel.pinName}}" target="_blank">{{rel.pinName}}</a></td>
        <td>
            <form>
                <div class="onoffswitch">
                    <input type="checkbox" id="cb{{rel.pinName}}" ng-model="rel.pinState" class="onoffswitch-checkbox"
                           ng-true-value="'HIGH'" ng-false-value="'LOW'" ng-change="save(rel)"/>
                    <label class="onoffswitch-label" for="cb{{rel.pinName}}">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </form>
        </td>
        <td>
            <a href="#/edit/{{rel.pinName}}"><i class="icon-pencil"></i></a>
        </td>
    </tr>
    </tbody>
</table>
</div>
<br>
<table>
    <tbody>
    <tr>
        <td style=" text-align: right;font-weight: bold">Temperature:</td>
        <td>{{measurement.temperature | number:2}}</td>
        <td>°C</td>
    </tr>
    <tr>
        <td style=" text-align: right;font-weight: bold">Humidity:</td>
        <td>{{measurement.humidity | number:2}}</td>
        <td>%</td>
    </tr>
    </tbody>
</table>
<br>
<h3>Rules</h3>
<table>
    <thead>
    <tr>
        <th>Rule</th>
        <th>From</th>
        <th>To</th>
        <th><a href="#/new-rule"><i class="icon-plus-sign"></i></a></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="rule in rules | filter:search | orderBy:'position'" ng-show="rule.rule">
        <td><a href="{{rule.position}}" target="_blank">{{rule.position}}</a></td>
        <td><{{rule.rule}}</a></td>
        <td><{{rule.time.from}}</a></td>
        <td><{{rule.time.to}}</a></td>
        <td><a href="#/edit-rule/{{rule.position}}"><i class="icon-pencil"></i></a></td>
    </tr>
    </tbody>
</table>

