<div class="container">
    <div class="row">
        <div class="col-md-12"><input type="text" ng-model="search" class="search-query" placeholder="Search"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4 h4">Relais</div>
        <div class="col-md-4 h4">State</div>
        <div class="col-md-4"><a href="#/new"><i class="icon-plus-sign"></i></a></div>
    </div>

    <div class="row" ng-repeat="rel in relais | filter:search | orderBy:'pinName'" ng-show="rel.pinName">
        <div class="col-md-4"><a href="{{rel.pinName}}" target="_blank">{{rel.pinName}}</a></div>
        <div class="col-md-4">
            <form>
                <div class="onoffswitch">
                    <input type="checkbox" id="cb{{rel.pinName}}" ng-model="rel.pinState" class="onoffswitch-checkbox"
                           ng-true-value="'HIGH'" ng-false-value="'LOW'" ng-change="save(rel)"/>
                    <label class="onoffswitch-label" for="cb{{rel.pinName}}">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <a href="#/edit/{{rel.pinName}}"><i class="icon-pencil"></i></a>
        </div>
    </div>
    <br>
</div>
<div class="container">
    <div class="well">
        <div class="row">
            <div class="col-md-4">Temperature:</div>
            <div class="col-md-6">{{measurement.temperature | number:2}} °C</div>
        </div>
        <div class="row">
            <div class="col-md-4">Humidity:</div>
            <div class="col-md-6">{{measurement.humidity | number:2}} %</div>
        </div>
    </div>

    <br>

    <h3>Rules</h3>

    <div class="row">
        <div class="col-md-6 h4">Rule</div>
        <div class="col-md-2 h4">From</div>
        <div class="col-md-2 h4">To</div>
        <div class="col-md-2 h4"><a href="#/new-rule"><i class="icon-plus-sign"></i></a></div>
    </div>
    <div class="row" ng-repeat="rule in rules | filter:search | orderBy:'position'" ng-show="rule.rule">
        <div class="col-md-1"><a href="{{rule.position}}" target="_blank">{{rule.position}}</a></div>
        <div class="col-md-6"><{{rule.rule}}</a></div>
        <div class="col-md-2"><{{rule.time.from}}</a></div>
        <div class="col-md-2"><{{rule.time.to}}</a></div>
        <div class="col-md-1"><a href="#/edit-rule/{{rule.position}}"><i class="icon-pencil"></i></a></div>
    </div>

</div>