<input type="text" ng-model="search" class="search-query" placeholder="Search">
<table>
	<thead>
	<tr>
		<th>Relais</th>
		<th>State</th>
		<th><a href="#/new"><i class="icon-plus-sign"></i></a></th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="rel in relais | filter:search | orderBy:'pinName'" ng-show="rel.pinName">
		<td><a href="{{rel.pinName}}" target="_blank">{{rel.pinName}}</a></td>
		<td>
			<form>
				<div class="onoffswitch">
					<input type="checkbox" id="cb{{rel.pinName}}" ng-model="rel.pinState" class="onoffswitch-checkbox"
						   ng-true-value="'HIGH'" ng-false-value="'LOW'" ng-change="save(rel)"/>
					<label class="onoffswitch-label" for="cb{{rel.pinName}}">
						<span class="onoffswitch-inner"></span>
						<span class="onoffswitch-switch"></span>
					</label>
				</div>
			</form>
		</td>
		<td>
			<a href="#/edit/{{rel.pinName}}"><i class="icon-pencil"></i></a>
		</td>
	</tr>
	</tbody>
</table>
<br>
<table>
	<tbody>
	<tr>
		<td style=" text-align: right;font-weight: bold">Temperature:</td>
		<td>{{measurement.temperature | number:2}}</td>
		<td>°C</td>
	</tr>
	<tr>
		<td style=" text-align: right;font-weight: bold">Humidity:</td>
		<td>{{measurement.humidity | number:2}}</td>
		<td>%</td>
	</tr>
	</tbody>
</table>
<br>
<form name="ruleEntryForm">
	<div class="control-group" ng-class="{error: ruleEntryForm.rule.$invalid}">
		<label>Rule</label>
		<input type="text" id="rule" ng-model="am.rule" value="" required>
        <span ng-show="myForm.rule.$error.required" class="help-inline">
	      Required</span>
	</div>
	<table>
		<tbody>
		<tr>
			<div class="control-group" ng-class="{error: ruleEntryForm.rule.$invalid}">
			<td><label>From</label></td>
			<td><timepicker ng-model="from" ng-change="changedTo()" hour-step="1" minute-step="15"
							show-meridian="false"></timepicker>
        <span ng-show="myForm.rule.$error.required" class="help-inline">
	      Required</span></td>
			</div>
			<div class="control-group" ng-class="{error: ruleEntryForm.rule.$invalid}">
			<td><label>To</label></td>
			<td><timepicker ng-model="to" ng-change="changedTo()" hour-step="1" minute-step="15"
							show-meridian="false"></timepicker></td>
				  <span ng-show="myForm.rule.$error.required" class="help-inline">
	      Required</span>
			</div>
		</tr>
		</tbody>

	</table>


	<br>
	<a href="#/" class="btn">Cancel</a>
	<button ng-click="saveRule()" ng-disabled="isClean() || ruleEntryForm.$invalid"
			class="btn btn-primary">Save
	</button>
	<button ng-click="destroyRule()"
			ng-show="rel.pinName" class="btn btn-danger">Delete
	</button>

</form>
</br>